<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<style>
		*{margin:0;padding:0;}
		html,body{width:100%;}
		div.wrapper{
			width:800px;
			margin:0 auto;
		}
		img{width:800px;}
		h2{
			margin:20px 0;
		}
	</style>
</head>
<body>
	<div class="wrapper">
			<h2>1、未登录网站首页</h2>
			<img src="1.jpg" alt="" />
		<hr />
			<h2>2、注册框、登录框</h2>
			<img src="6.jpg" alt="" />
			<img src="2.jpg" alt="" />
		<hr />
			<h2>3、普通用户视图</h2>
			<img src="3.jpg" alt="" />
			<img src="4.jpg" alt="" />
			<img src="5.jpg" alt="" />
		<hr />
			<h2>4、管理员视图</h2>
			<img src="7.jpg" alt="" />
			<img src="8.jpg" alt="" />
			<img src="9.jpg" alt="" />
		<hr />
			<h2>5.详情页</h2>
			<img src="10.jpg" alt="" />
		<hr />
			<h2>6.评论区</h2>
			<img src="11.jpg" alt="" />
		<hr />
			<h2>7.网站架构</h2>
			<img src="Hbuilder.jpg" alt="" />
		<hr />
			<h2>8.MongoDB</h2>
			<img src="mongo.jpg" alt="" />
		<hr />
			<h2>9.NodeJS后台</h2>
			<img src="node.jpg" alt="" />
	</div>
</body>
</html>